.giftcard-content {
  display: flex;
  justify-content: center;
  background: #e5e5e5;
  height: fit-content;
}

.giftcard-close-modal-x {
  position: absolute;
  right: 2%;
  padding: 10px;
  color: #347ca5;
  font-weight: bolder;
  font-size: large;
  cursor: pointer;
}

.giftcard-close-modal-x:hover {
  color: #f49131;
}

.giftcard-form {
  display: block;
  justify-content: center;
  background: #e5e5e5;
  height: 100%;
  width: 70%;
}
  
  .giftcard-form label {
    margin-bottom: 1%;
    color: #347ca5;
    font-size: medium;
    font-weight: bold;
    margin-top: 5px;
  }
  
  .giftcard-form input,
  .giftcard-form textarea {
    border: none;
    padding: 15px;
    border-radius: 5px;
  }

  .giftcard-form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3%;
  }

  .giftcard-form-row div {
    display: flex;
    flex-direction: column;
    width: 45%;
  }

  .giftcard-edit-textarea{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3%;
  }

  .giftcard-edit-textarea div {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .giftcard-form-submit-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 3%;
  }
  
  .giftcard-edit-submitButton {
    display: flex;
    justify-content: center;
    background: #f49131;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: medium;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
