.modal-container {
	display: flex;
	flex-direction: column;
}

.modal-form {
	display: flex;
	flex-direction: column;
	padding: 0px 5%;
	color: black;
}

.modal-group-container {
	padding: 0px;
	background-color: var(--bg-grey);
	border-radius: 6px;
	margin: 20px 4px 0px 4px;
	justify-content: space-around;
}

.modal-form-item {
	background-color: var(--bg-grey);
	border-radius: 6px;
	padding: 0px 25px;
	margin-top: 20px;
	text-align: center;
}

.modal-form-item-title {
	margin: 8px;
}
.modal-form-item-content {
	margin: 8px;
}
